.View
{
    position: absolute;
    top:32%;
    right: 15%;
    cursor: pointer
}
.KeepIcon{
  position: absolute;
  width: 35px;
  height: 33px;
  left:5.2%;
  top:27%;
  bottom: 10%;
  cursor: pointer
}

.Keep{
    position: absolute;
    left: 8.8%;
    top:31%;
    font-family: "Product Sans", Arial, sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #5f6368;
    line-height: 24px;
    cursor: pointer
    
}

.alignMent{
    left: 15%;
}